@value cssMedium, cssSmaller from '../../common/size.css';
@value cssRed, cssYellow, cssDarkYellow, cssBlack, cssGray, cssDateColor from '../../common/colors.css';
@value cssDefalutFont from '../../common/font.css';

.paper {
  display: inline-block;
  background-color: cssYellow;
  height: 300px;
  width: 263px;
  margin: 7px;
  box-shadow: 0 1px 3px #b6b6b6;
}

.paper.focus {
  background-color: cssYellow;
}

.paper.blur {
  background-color: cssDarkYellow;
}

.head {
  display: flex;
  height: 34px;
  line-height: 34px;
  padding: 3px 14px 0;
}

.checkbox {
  display: flex;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 7px;
}

.date {
  color: cssDateColor;
  font-size: cssSmaller;
  font-family: cssDefalutFont;
}

.delete {
  font-size: 10px;
  border: 0;
  background-color: transparent;
  color: cssRed;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  left: 100px;
}

.area {
  padding: 14px 20px 0 14px;
  border-top: 2px solid cssGray;
}

.content {
  resize: none;
  outline: none;
  border: 0px;
  background-color: cssYellow;
  overflow: auto;
}

.content.focus {
  background-color: cssYellow;
}

.content.blur {
  background-color: cssDarkYellow;
}
