@value cssGreen, cssBlack, cssLightGray, cssWhite from '../../../common/colors.css';

.sidebar {
    position: absolute;
    background-color: cssWhite;
    width: 250px;
    height: 90vh;
    border-right: 2px solid cssLightGray;
}

b{
    font-size: 20px;
    margin: 30px;
}