@value cssGreen, cssBlack, cssLightGray, cssDarkGray, cssWhite from '../../../common/colors.css';

.sidebar {
  position: fixed;
  background-color: cssWhite;
  width: 250px;
  height: 100vh;
  border-right: 2px solid cssLightGray;
}

.contents ul {
  margin: 0px;
  padding: 15px 0px;
}

.contents li {
  list-style: none;
}

.contents span {
  display: flex;
  margin-left: 20px;
}

.underLine {
  border-bottom: 1px solid #e8e8e8;
}

.contents h2,
.contents span i {
  font-size: 14px;
  color: cssDarkGray;
  margin: 5px;
  line-height: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
