@value cssGreen, cssBlack, cssLightGray, cssDarkGray, cssWhite from '../../../common/colors.css';

.sidebar {
  position: fixed;
  background-color: cssWhite;
  width: 250px;
  height: 100vh;
  border-right: 2px solid cssLightGray;
  margin-top: 55px;
}

.contents span {
  display: flex;
  margin-left: 20px;
}
.contents h2,
.contents span i {
  font-size: 15px;
  color: cssDarkGray;
  margin: 5px;
  margin-top: 25px;
  line-height: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
